/*! RESET */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Roboto+Slab:wght@500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-family: 'Lato', sans-serif;
    
}
body{
    margin:0;
    color: white;
}
h1,h2,h3,h4,p,ul{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    list-style: none;
    padding: 0;
}
input{
    outline: 0;
    font-family: inherit;
    border: 0;
}
button{
    border: 0;
    font-family: inherit;
}
img{
    display: block;
    width: 100%;
}
